* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  min-width: 100dvh;
  min-height: 100dvh;
}
