.MainPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1dvh;
}

.MainPageBoard {
    padding: 1dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95dvh;
    width: 100%;
}

.MainPageWidgetBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    height: 100% ;
    flex-grow: 1;
    border: 2px solid black;
}

.Widget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    padding: 4px;
    cursor: grab;
}
