
.Time {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 36px;
}

.Options   {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.Stopwatch {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 1100px) {

    .Stopwatch {

        height: 150px;
        width: 150px;
    }

    .Time {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {

    .Stopwatch {

        height: 120px;
        width: 110px;

    }
    .Time {
        font-size: 20px;
    }

}
