.Input {
    background-color: var(--btn-color);
    color: black;
    text-align: center;
    border: 2px solid black;
    width: 100%;
}

.Input:focus {
    scale: 1.1;
}

input.Input::placeholder{
    color: black
}