.WidgetPage{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--widget-color-m);
    border-radius: var(--border-radius);
}